body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
    transition: background-color 0.4s, color 0.4s;
}


body.dark {
    background-color: black;
    color: white;
}


.input-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 0px;
}
.input-box {
    width: 50px;
    height: 50px;
    display: flex;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    cursor: default;
    transition: scale 0.1s, box-shadow 0.1s, height 0.2s, width 0.2s, background-color 0.4s, font-size 0.2s;
}
.input-box.focused {
    scale: 1.1;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.685);
}

.input-box.focused.dark {
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.685);
}

.input-box.dark {
    background-color: #2f2f2f;
    box-shadow: 0 0 3px 0 #ffffff;
}
.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 606px;
    min-width: 335px;
}
.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
}
.key {
    width: 8.5%;
    height: 52px;
    margin: 5px 2px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    transition: background-color 0.1s, scale 0.1s;
}

.key.dark {
    background-color: #2f2f2f;
}
.key:active {
    background-color: #bbb;
    scale: 0.9;
}

.key.dark:active {
    background-color: #444444;
}
.key.wide {
    width: 60px;
}

.hid {
    display: none;
}

.bsicon {
    height: 50%;
    width: 50%;        
}

.salert {
    position: fixed;
    top: 70px;
    left: 50%;
    translate: -50%;
    padding: 15px;
    background-color: rgba(88, 88, 88, 0.596);
    color: white;
    border-radius: 200px;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.3s;
}

.salert.dark {
    background-color: rgba(105, 105, 105, 0.418);
}

.input-box.correct {
    background-color: #33912a;
    color: white;
}

.input-box.present {
    background-color: #dabe00;
    color: white;
}

.input-box.absent {
    background-color: #787c7e;
    color: white;
}



.input-box.correct.dark {
    background-color: #227a1a;
    color: white;
}        

.input-box.present.dark {
    background-color: #b89f00;
    color: white;
}

.input-box.absent.dark {
    background-color: #40484d;
    color: white;
}




.key.correct {
    background-color: #33912a;
    color: white;
}

.key.present {
    background-color: #dabe00;
    color: white;
}

.key.absent {
    background-color: #787c7e;
    color: white;
}



.key.correct.dark {
    background-color: #227a1a;
    color: white;
}

.key.present.dark {
    background-color: #b89f00;
    color: white;
}

.key.absent.dark {
    background-color: #40484d;
    color: white;
}

@keyframes pulse {
    0% {
        scale: 1;
    }
     50% {
        scale: 1.2;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.664);
    }
    100% {
        scale: 1;
    }
}

@keyframes shake {
    0% {
        translate: 0% 0;
    }
    20% {
        translate: 10% 0;
    }
    40% {
        translate: -10% 0;
    }
    60% {
        translate: 10% 0;
    }
    80% {
        translate: -10% 0;
    }
    100% {
        translate: 0% 0;
    }
}


@keyframes win {
    0% {
        translate: 0 0%;
    } 
    50% {
        translate: 0 -40%;
    }
    100% {
        translate: 0 0%;
    }
}

.enter_icon {
    height: 50%;
}

.top-part {
    height: 61px;
    width: 95vw;
    margin: 12px;
    position: relative;
    border-radius: 48px;
    box-shadow: 0px 2px 11px 0 #00000094;
    background-color: #c4dfb7;
    
}

.top-part.dark {
    background-color: #113b3a;
    box-shadow: 0px 2px 11px 0 #ffffff94;
}



.left {
    max-width: 30%;
    margin-bottom: 20px;
}

.buttonBox {
    margin-left: 6px;
    margin-top: 5px;
}

.btn {
    background-color: transparent;
    height: 51px;
    width: 50px;
    background: transparent;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color  0.3s;
    
}

.btn:hover {
    background-color: #79797959;
}

.header {
    position: absolute;
    left: 50%;
    top: 14px;
    translate: -50% 0;
    width: 100px;
    height: 50px;
    width: 159px;
    text-align: center;

}

.h1 {
    height: 42px;
    width: 100%;
}

.headline.dark {
    fill: white;
}

.headline {
    fill: black;
    transition: fill 0.4s;
}

.themeIcon.dark {
    fill: white;
}

.themeIcon {
    fill: black;
    transition: fill 0.4s;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.popup {
  padding: 20px;
  max-width: 800px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 2;
  text-align: center;
  height: 80vh;
  margin-top: 10vh;
  overflow: scroll;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 black;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup.dark {
    background-color: #0f0f0f;
}
.popup h2 {
    margin-top: 0;
}
.popup p {
    font-size: 16px;
    line-height: 1.5;
}

.box {
    width: 50px;
    height: 50px;
    display: flex;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    cursor: default;
}

.box.dark {
background-color: #2c2c2c;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 0px;
}

.box.green {
background-color: green;
color: white;
}

.box.yellow {
    background-color: orange;
    color: white;
}

.box.grey {
    background-color: grey;
    color: white;
}

p {
    max-width: 90vw;
}

.start {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #039257;
    border: none;
    border-radius: 100px;
    color: white;
}

.enter_icon-t {
    height: 15px;
}

@keyframes goOut {
    0% {
        scale: 1;
        opacity: 1;
    }
    
    100% {
        scale: 0;
        opacity: 0;
    }
}

.back {
    z-index: 1;
    opacity: 0.25;
    background-color: rgb(116, 116, 116);
    backdrop-filter: blur(30px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}



